openapi: 3.2.0
info:
  title: Ubi User API
  description: Ubi Api Documenation
  contact:
    email: admin@ubicquia2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1
servers:
- url: https://config.api.ubicquia.com/api/
  description: L5 Swagger OpenApi Server
tags:
- name: User
  description: User
paths:
  /add-user:
    post:
      tags:
      - User
      summary: Add User
      description: ''
      operationId: store
      requestBody:
        $ref: '#/components/requestBodies/userAddRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/successGetUserResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthenticated
        '404':
          $ref: '#/components/responses/404ResourceResponse'
      security:
      - Api Key: []
  /update-user/{id}:
    put:
      tags:
      - User
      summary: Update user id
      description: ''
      operationId: update
      parameters:
      - $ref: '#/components/parameters/param_id_string'
      requestBody:
        $ref: '#/components/requestBodies/userUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/successUserResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthenticated
        '404':
          $ref: '#/components/responses/404ResourceResponse'
      security:
      - Api Key: []
  /delete-user/{id}:
    delete:
      tags:
      - User
      summary: Deletes User by id
      operationId: destroy
      parameters:
      - name: id
        in: path
        description: User Id
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/successOperation'
        '400':
          description: Bad Request
        '401':
          description: Unauthenticated
        '404':
          $ref: '#/components/responses/404ResourceResponse'
      security:
      - Api Key: []
  /get-user/{id}:
    get:
      tags:
      - User
      summary: get User By User Id
      parameters:
      - $ref: '#/components/parameters/param_id_string'
      responses:
        '200':
          $ref: '#/components/responses/successUserResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthenticated
        '404':
          $ref: '#/components/responses/404ResourceResponse'
      security:
      - Api Key: []
      operationId: getGetUserById
      x-operation-id-source: derived
  /update-me:
    post:
      tags:
      - User
      summary: Update Me
      description: ''
      operationId: update me
      requestBody:
        $ref: '#/components/requestBodies/updateMeRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/successUserResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthenticated
        '404':
          $ref: '#/components/responses/404ResourceResponse'
      security:
      - Api Key: []
  /changeUserCustomerStatus/{id}:
    put:
      tags:
      - User
      summary: change User Customer Status
      description: ''
      operationId: changeUserCustomerStatus
      parameters:
      - name: id
        in: path
        description: id
        schema:
          type: string
      requestBody:
        description: User body param
        content:
          application/json:
            schema:
              properties:
                isActive:
                  description: user isActive
                  type: boolean
              type: object
      responses:
        '200':
          $ref: '#/components/responses/successUserResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthenticated
        '404':
          $ref: '#/components/responses/404ResourceResponse'
      security:
      - Api Key: []
components:
  requestBodies:
    userUpdateRequestBody:
      description: User body param
      content:
        application/json:
          schema:
            properties:
              id:
                description: User Id
                type: string
              firstname:
                description: First Name
                type: string
              lastname:
                description: Last Name
                type: string
              phone:
                description: Phone
                type: string
              role_id:
                description: Role Id
                type: integer
              has_ubivu_access:
                description: has_ubivu_access
                type: boolean
              has_api_access:
                description: has_api_access
                type: boolean
            type: object
    updateMeRequestBody:
      description: User body param
      content:
        application/json:
          schema:
            properties:
              id:
                description: User Id
                type: string
              firstname:
                description: First Name
                type: string
              lastname:
                description: Last Name
                type: string
              email:
                description: Email
                type: string
              phone:
                description: Phone
                type: string
            type: object
    userAddRequestBody:
      description: User body param
      content:
        application/json:
          schema:
            properties:
              firstname:
                description: First Name
                type: string
              lastname:
                description: Last Name
                type: string
              email:
                description: Email
                type: string
              phone:
                description: Phone
                type: string
              role_id:
                description: Role Id
                type: integer
              has_ubivu_access:
                description: has_ubivu_access
                type: boolean
              has_api_access:
                description: has_api_access
                type: boolean
            type: object
  responses:
    404ResourceResponse:
      description: Item not found
      content:
        application/json:
          example:
            status: failed
            code: 404
            message: Operation failed
    successGetUserResponse:
      description: successful operation
      content:
        application/json:
          example:
            data:
            - user_id:
                name: string
                firstname: string
                lastname: string
                email: string
                id: string
                isActive: boolean
              profile:
                phone: string
                user_id: string
                id: string
                profilePicture: string
              customer_user:
              - user_id: string
                customer_id: number
                has_ubivu_access: boolean
                role_id: number
                receive_alerts: boolean
                has_api_access: boolean
                updated_at: yyyy-mm-dd hh:mm:ss
                created_at: yyyy-mm-dd hh:mm:ss
                id: number
                api_key:
                  customer_user_id: number
                  apiKey: number
                  expires: yyyy-mm-dd hh:mm:ss
                  canRead: boolean
                  canCreate: boolean
                  canUpdate: boolean
                  canDelete: boolean
                  id: string
                  updated_at: yyyy-mm-dd hh:mm:ss
                  created_at: yyyy-mm-dd hh:mm:ss
                action: created
            status: success
            code: '200'
            message: Operation success
            version: value
    successOperation:
      description: successful operation
      content:
        application/json:
          example:
            data:
            - []
            status: success
            message: Operation success
            code: 200
            version: 0.0.0
    successUserResponse:
      description: successful operation
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/User'
  parameters:
    param_id_string:
      name: id
      in: path
      description: item id
      required: true
      schema:
        type: string
  schemas:
    User:
      title: User
      description: User
      properties:
        name:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
        email_verified_at:
          type: timestamp
        password:
          type: string
        remember_token:
          type: string
        receivealerts:
          type: boolean
        usertype:
          type: string
        releid:
          type: integer
        active:
          type: string
        deleted:
          type: string
        hasApiAccess:
          type: boolean
        hasUbiVuAccess:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      type: object
  securitySchemes:
    Api_Key:
      type: apiKey
      description: 'Use header x-api-key: ''key'' to send api key endpoints'
      name: x-api-key
      in: header
